sh==1.14.1
boto3==1.14.45
click==7.1.2
Flask==1.1.2
gunicorn==19.10.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
db_by_josh==0.0.3
Flask-SQLAlchemy==2.4.4
SQLAlchemy==1.3.23
psycopg2==2.8.6
requests